<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>New Message</h1>

    <form method="POST" action="/new">
      <div>
        <label for="author">Author</label>
        <input id="author" name="messageUser" type="text" required />
      </div>
      <div>
        <label for="messageText">Message</label>
        <textarea id="text" name="messageText" rows="5" required></textarea>
      </div>
      <button type="submit">Post</button>
    </form>
  </body>
</html>
