<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Message</h1>
    <li>Sender: <%= message.user %></li>
    <li>Date: <%= message.added %></li>
    <li>Message: <%= message.text %></li>
    <a href="/">Back to Messages</a>
  </body>
</html>
